[submodule "src/RF24"]
	path = lib/RF24
	url = git@github.com:kripton/RF24.git
[submodule "src/RF24Network"]
	path = lib/RF24Network
	url = https://github.com/kripton/RF24Network
[submodule "src/RF24Mesh"]
	path = lib/RF24Mesh
	url = https://github.com/kripton/RF24Mesh
[submodule "lib/heatshrink"]
	path = lib/heatshrink
	url = https://github.com/kripton/heatshrink.git
