[submodule "src/RF24"]
	path = lib/RF24
	url = git@github.com:kripton/RF24.git
[submodule "src/RF24Network"]
	path = src/RF24Network
	url = https://github.com/nrf24/RF24Network
[submodule "src/RF24Mesh"]
	path = src/RF24Mesh
	url = https://github.com/nrf24/RF24Mesh
